<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/images/sobre_ma.css">
    <title>Turismo</title>
    <link rel="shortcut icon" href="/images/Bandeira_Ma.svg" type="image/svg+xml">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>
</head>

<body>
    <button class="menu-toggle" aria-label="Menu">☰</button>
    <div class="background">
        <header>
            <img src="/images/Bandeira_Ma.svg" alt="Bandeira do Maranhão" width="150" height="60">
            <h1>Bem vindo ao Maranhão</h1>
        </header>
        <nav id="menu">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Início</a>
                </li>
             
                <li class="nav-item">
                    <a class="nav-link" href="#">Manual do Viajante</a>
                </li>
              
            </ul>
            <!--  <div class="languages">
                <a href="/">
                    <img src="/images/bandeira-do-brasil.svg" alt="Brasil" width="25" height="25">
                </a>
                <a href="/en">
                    <img src="/images/bandeira-estados-unidos.svg" alt="Estados Unidos" width="25" height="25">
                </a>
                <a href="/es">
                    <img src="/images/bandeira-espanha.svg" alt="Espanha" width="32" height="32">
                </a>
            </div> -->
        </nav>
    </div>
    <main>
        <div class="container">
            <nav class="navbar bg-body-tertiary" id="search">
                <div class="container-fluid">
                    <form class="d-flex" role="search" action="/search" method="get">
                        <input class="form-control me-2" type="search" name="q" placeholder="Digite um ponto turistico"
                            aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </nav>
        </div>
    </main>

    <section>

        <h1>
            Maranhão
        </h1>


        <p class="maranhao-descricao">Maranhão é um estado localizado em uma área geográfica de transição entre as
            regiões Norte e Nordeste do Brasil. É conhecido pela concentração de espécies de palmeiras.</p>

        <img src="./images/bandeira_ma.png" alt="bandedira do Maranhão" title="Bandeira do Maranhão">


        <p>O Maranhão é um estado brasileiro situado na região Nordeste do Brasil. O seu
            território foi objeto de disputa entre diversos povos europeus, sendo que os portugueses mantiveram o
            domínio da região. A cultura maranhense é resultado da influência das populações que ocuparam o estado ao
            longo da sua colonização. A sua capital, São Luís, possui um centro histórico muito conservado. A população
            maranhense está concentrada no litoral e nas cidades médias do interior do estado.</p>

        <div class="topicos">
            <ul>
                <li>
                    <a href="#dados-gerais"> Dados gerais do Maranhão</a>
                </li>
                <li>
                    <a href="#geografia"> Geografia do Maranhão</a>
                </li>
                <li>
                    <a href="#mapama"> Mapa do Maranhão</a>
                </li>
                <li>
                    <a href="#divisaogeografica"> Divisão geográfica do Maranhão</a>
                </li>
                <li>
                    <a href="#economia"> Economia do Maranhão</a>

                </li>
                <li>
                    <a href="#cultura"> Cultura do Maranhão</a>
                </li>
            </ul>
        </div>


        <div class="informacoes">


            <h2 id="dados-gerais">Dados gerais do Maranhão</h2>


            <ul>
                <li>Região : Nordeste</li>
                <li>Capital: <a href="http://localhost:3000/search?q=são+luis"> São Luis</a></li>
                <li>Área territorial: 329.651 km² (IBGE 2019)</li>
                <li>População: 7.114,598 habitantes (IBGE, 2020)</li>
                <li>Densidade demográfica: 19,81 hab/km² (IBGE, 2010)</li>
                <li>Fuso: UTC - 3</li>
                <li>Clima: Tropical</li>
            </ul>


            <h2 id="geografia">Geografia do Maranhão</h2>


            <p>A sua posição geográfica representa uma área de transição entre as regiões nordestina e amazônica do
                território brasileiro. Dessa maneira, apresenta uma grande diversidade natural na sua paisagem.

                O relevo maranhense é formado por uma extensa área de planície litorânea e por regiões de planalto no
                interior do estado. Nas áreas de planície, predominam-se regiões de baixa altitude, formadas por
                depósitos de sedimentos, como as dunas, assim como áreas alagadiças. Já as regiões de planalto
                apresentam formações de relevo mais elevadas, como as chapadas, muito comuns no Maranhão.

                O clima maranhense é predominantemente Tropical, influenciado pela maritimidade e também pela umidade
                proveniente da região amazônica. O estado tem como principais cursos de água os rios Parnaíba, Tocantins
                e Gurupi, que, inclusive, marcam a divisa maranhense com outros estados.
            </p>

            <p>
                "Já a vegetação maranhense é extremamente diversificada. No estado são encontradas formações:
            </p>

            <ul>
                <li>Mangue nas áreas litorânea</li>

                <li>mata de cocais na porção oriental e central do estado</li>

                <li>Floresta Amazônica na porção ocidental estadual</li>

                <li>Cerrado no sul maranhese</li>

            </ul>

            <h2 id="mapama">Mapa do Maranhão</h2>

            <img src="/images/mapa_ma.png" alt="mapa do maranhão" title="Mapa do Maranhão">

            <h2 id="divisaogeografica">Divisão geográfica do Maranhão</h2>


            <p>O Maranhão possui 217 municípios, que estão divididos em regiões intermediárias e imediatas, conforme
                critérios de regionalização adotados pelo Instituto Brasileiro de Geografia e Estatística (IBGE). O
                estado possui cinco regiões geográficas intermediárias e 22 regiões geográficas imediatas.

            </p>


            <h2 id="economia">Economia</h2>


            <p>A economia do Maranhão está concentrada no setor primário. Na agricultura, destaca-se soja, algodão,
                arroz e mandioca. Além disso, há o crescimento da pecuária extensiva, principalmente no sul do estado. O
                extrativismo é o principal ramo do setor primário estadual, sendo que a exploração das palmeiras babaçu
                e carnaúba é uma das principais atividades econômicas do estado.

                Além disso, há extração de minerais e produção de madeira. O Maranhão é um dos principais exportadores
                de minérios do país, em razão da estrutura de transporte presente no estado, que permite a movimentação
                dos minérios produzidos no Pará para comercialização nos portos maranhenses.

                O setor secundário está ancorado na transformação de bens primários. As principais indústrias são as de
                transformação mineral, alimentos, madeira e celulose. Já no setor terciário destacam-se as atividades de
                comércio e serviços, com destaque para a logística. Além dessas, o setor terciário vem apresentando
                crescimento com relação ao turismo. São importantes pontos de exploração turística do Maranhão o centro
                histórico da capital São Luís, o Parque Nacional dos Lençóis Maranhenses e o Parque Nacional da Chapada
                das Mesas.





            </p>


            <img src="/images/lencois_maranhenses.png" alt=" lençóis maranhenses" title="Lençóis Maranhenses">


            <h2 id="cultura">Cultura</h2>

            <p>O Maranhão possui uma cultura muito rica e diversificada marcada pela influência dos povos formadores do
                estado. A arquitetura, em especial nas cidades de Alcântara e São Luís, possui grande riqueza histórica.
                Os adornos com azulejos portugueses são característicos dos edifícios históricos maranhenses. A
                influência portuguesa também é perceptível nas festas e manifestações folclóricas, como as festas
                religiosas. A Festa do Divino é muito tradicional em várias cidades maranhenses, assim como os festejos
                juninos e do boi-bumbá.

            </p>

            <img src="/images/boi.png" alt="boi-bumbá" title="boi-bumbá">

        </div>

    </section>

    <footer>
        <p>© 2024 - Todos os direitos reservados.</p>
    </footer>
    <script src="/images/menu.js"></script>
</body>

</html>